<h1><%= @person.name %></h1>
<h4>Age: <%= @person.age %></h1>
<p>Eye Color: <%= @person.eye_color %></p>
<p>Hair Color: <%= @person.hair_color %></p>
<p>Gender: <%= @person.gender %></p>
<p>Alive: <%= @person.alive %></p>
<p>Catchphrase: <%= @person.catchphrase %></p>
<%= link_to 'Back', people_path %>